  mat-card {
      margin: 10px;
      transition: flex-basis 0.5s ease max-width 0.5s ease;
      min-height: 200px;
      flex: 1 0 22%;
      display: flex;
      flex-direction: column;
  }

  .cards-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      padding: 10px;
      grid-auto-rows: minmax(100px, auto);
  }

  mat-card img {
      width: 100%;
      height: auto;
      object-fit: contain;
      display: block;
      margin: 0 auto;
  }

  .image-container {
      height: 200px;
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .image-container img {
      max-height: 200px;
      width: 100%;
      object-fit: cover;
  }

  .card-content {
      overflow: visible;
      transition: none;
      flex-grow: 1;
      background-color: rgb(245, 242, 213);
  }

  .button-info{
    background: none; 
    border: none; 
    color: #aaa; 
    cursor: pointer; 
    padding: 0; 
    font-size: 16px;
  }

  .button-info:hover {
    color: #888; 
}

mat-card-content h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: rgb(13, 19, 26);
    text-align: justify;
    margin: 0;
    font-weight: bold;
}

mat-card-content span{
    font-family:'Gruppo';   
    letter-spacing: 1px;
    font-size: 18px;
    text-align: justify;
    margin: 0;
}


  @media (max-width: 600px) {
      .cards-container {
          grid-template-columns: 1fr;
      }
  }

  @media (min-width: 2160px) {
      .cards-container {
          grid-template-columns: repeat(6, 1fr);
      }
  }