<div class="block-layout block-layout--layout background-yellow">

    <div class="cards-container">
        <div id="online" class="card-container">
            <a href="/online">
                <mat-card class="card">
                    <mat-card-content>
                        <img src="../../../assets/images/online-button.png"
                            alt="Online">
                        <h1>Online</h1>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>

        <div id="blended" class="card-container">
            <a href="/blended">
                <mat-card class="card">
                    <mat-card-content>
                        <img src="../../../assets/images/blended-button.jpeg"
                            alt="Semipresencial">
                        <h1>Semipresencial</h1>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
    </div>
</div>
