
.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
    flex-wrap: wrap; /* Permite que los elementos se ajusten según el tamaño de la pantalla */
  }
  

  .card-container {
    flex: 1; /* Permite que los contenedores de los cards crezcan y se encogen */
    min-width: 300px; /* Mínimo ancho antes de que los cards se apilen */
    max-width: 600px; /* Máximo ancho del card */
    margin: 10px;
}

.card {
    height: 90vh; /* Altura deseada */
    margin: 10px; /* Espacio alrededor de los cards */
    position: relative; /* Establece una posición relativa para posicionar absolutamente el título y la imagen */
    overflow: hidden; /* Asegura que cualquier contenido fuera de los límites no se muestre */
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card h1 {
  position: absolute; /* Posiciona el título absolutamente respecto a su contenedor relativo */
  top: 0; /* Alinea el título en la parte superior del card */
  width: 100%; /* Asegura que el título se extienda a lo ancho del card */
  margin-top: 10px; /* Ajusta según necesites para la franja superior */
  z-index: 2; /* Asegura que el título se sitúe sobre la imagen */
  text-align: center; /* Centra el texto del título */
}
  
  .card:hover {
    transform: scale(1.05);
  }
  

  .card img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del card */
    height: auto; /* Permite que la altura se ajuste para mantener la relación de aspecto */
    object-fit: cover; /* Asegura que la imagen cubra el área disponible */
    min-height: 100%; /* Establece una altura mínima para la imagen */
    margin-bottom: 20px;
    position: absolute;
    z-index: 1;
    left: 0;
    object-fit: cover;
    top: 60px; 
    /* Si la imagen todavía parece muy pequeña, puedes aumentar este valor */
  }


  
  /* Asegúrate de que el contenido del card se centre verticalmente */
  .mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  @media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        padding: 20px; /* Añade padding para evitar que los elementos toquen los bordes */
        margin: 0; /* Elimina cualquier margen que pueda causar desplazamiento horizontal */
    }

    .card-container {
        width: 100%; /* Ajusta el ancho al 100% para dispositivos móviles */
        max-width: 100%; /* Asegura que no se exceda el ancho de la pantalla */
        margin: 20px 0; /* Ajusta el margen para dispositivos móviles */
    }

    .card {
        width: 100%; /* Ajusta el ancho del card */
        height: 400px; /* Hace que la altura sea automática para mantener la proporción */
        margin: 0; /* Elimina el margen adicional */
        position: relative;
    }

    .card img {
      position: absolute;
      top: 50px; /* Alinea la imagen en la parte superior */
      left: 0;
      width: 100%; /* Asegura que la imagen ocupe todo el ancho del card */
      height: 200px; /* Altura fija para la imagen */
      object-fit: cover; /* Mantiene la relación de aspecto de la imagen */
      z-index: 1;
    }

    .card h1 {
      position: absolute;
      left: 0;
      top: 0; /* Ajusta para posicionar el título debajo de la imagen */
      width: 100%;
      text-align: center;
      z-index: 2;
      margin: 0;
      background-color: white; /* Añade un fondo semitransparente al título */
      padding: 10px 0; /* Añade un poco de espacio alrededor del texto */
    }
  }
  
