<div class="block-layout block-layout--layout background-blue parent contact-container">
    <div id="contact-form">
        <div id="contact-title">
            <h1>Contácto</h1>
        </div>
        <div id="contact-subtitle">
            <h3>Solicita nuestros cursos vía email</h3>
        </div>
        <div id="contact-form" class="fade-in">
            <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
                <div class="form-group">
                    <label for="name">Nombre*</label>
                    <input type="text" class="form-control" id="name" formControlName="name">
                    <div *ngIf="contactForm.get('name')?.hasError('required') && (contactForm.get('name')?.touched || contactForm.get('name')?.dirty)" class="danger-text">
                        Por favor, introduce tu nombre
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Apellidos*</label>
                    <input type="text" class="form-control" id="last_name" formControlName="last_name">
                    <div *ngIf="contactForm.get('last_name')?.hasError('required') && (contactForm.get('last_name')?.touched || contactForm.get('last_name')?.dirty)" class="danger-text">
                        Por favor, introduce tus apellidos
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico*</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                    <div *ngIf="contactForm.get('email')?.hasError('required') && (contactForm.get('email')?.touched || contactForm.get('email')?.dirty)" class="danger-text">
                        El email introducido no es válido
                    </div>
                </div>
                <div class="form-group">
                    <label for="message">Mensaje</label>
                    <textarea class="form-control" id="message" formControlName="message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="isSending">Enviar</button>
            </form>
        </div>
    </div>
    <div id="contact-image">
        <img src="../../../../assets/images/contact-image.avif" alt="contact-image" class="fade-in">
    </div>
</div>
<div id="contact-info" class="block-layout block-layout--layout background-yellow fade-in">
    <div class="info" id ="contact-email">
        <h4>Correo electrónico</h4>
        <span>e-can@prueba.com</span>
    </div>
    <div class="info" id ="contact-phone">
        <h4>Teléfono</h4>
        <span>123-456-789</span>
    </div>
    <div class="info" id ="contact-address">
        <h4>Dirección</h4>
        <span>Calle Canarias, 28</span><br>
        <span>Las Palmas de Gran Canaria</span>
    </div>
</div>