<nav class="navbar navbar-expand-lg navbar-light bg-light bg-white">
    <img src="assets/images/logo.jpeg" alt="logo" class="logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse {{ isNavbarCollapsed ? '' : 'show' }}" id="navbarNav">
      <button type="button" class="close" aria-label="Close" (click)="toggleNavbar()">
        <span aria-hidden="true">&times;</span>
    </button>
      <ul class="navbar-nav ml-auto" id="navbarUl">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" (click)="toggleNavbar()">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us" (click)="toggleNavbar()">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses/select" (click)="toggleNavbar()">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" (click)="toggleNavbar()">Contácto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/virtual-campus" (click)="toggleNavbar()">Aula Virtual</a>
        </li>
      </ul>
    </div>
  </nav>
  