<div class="block-layout block-layout--layout background-blue parent content">
    <div id="title">
        <h3>Sobre Nosotros</h3>
    </div>
    <div id="subtitle" class = "fade-in">
        <span>Nuestro mayor logro ha sido alinear quienes somos con quién queríamos llegar a ser.</span>
    </div>
    <div id="body" class = "fade-in">
        <p>
            Somos una empresa joven, que nacio con la idea de dar una formación relevante y versatil que se adapta a la nos nuevos tiempos.
            Con la pandemia se hizo evidente la necesidad de establecer una linea de formación eficaz para cualquier persona, en cualquier lugar y adaptada a las necesidades.
        </p>
        <p>
            Esa fue nuestra idea y esta es su culminación, agrupamos el talento y la experienza de más de 15 años de formación y experienza,
            para darte una enseñanza que te inspire en el futuro y que te avale para ser todo un profesional.
        </p>
    </div>
</div>