<div class="block-layout block-layout--layout background-blue parent">
    <div class="container">
        <div class="welcome-image">
            <img src="assets/images/welcome.avif" alt="welcome"
                class="images" id=img_welcome>
        </div>
        <div class="welcome-container fade-in">
            <div class="welcome-text">
                <h1>
                    <span>
                            <a target href="/#bienvenido">
                                Bienvenido a E-can
                            </a>
                    </span>
                </h1>
            </div>
            <div class="span-text">
                <span>Escuela canaria de formación</span>
            </div>
        </div>
    </div>
</div>

<div class="block-layout block-layout--layout background-yellow">
    <div>
        <div id="div-slogan">
            <h3>Preparad@ para el futuro que te aguarda</h3>
        </div>
    </div>
    <div>
        <div id="div-subslogan" class = "fade-in">
            <p>
                <span>Iniciamos nuestra andadura poniendo todo nuestro corazón y
                    empeño en darte la mejor formación, con la máxima calidad y
                    de la mejor forma posible,
                </span>
            </p>
            <p>
                <span>
                    <u>
                        <a>
                            Entra y descubre todo lo que juntos podemos
                        </a>
                        ofrecerte
                    </u>
                </span>
            </p>
            <p></p>
            <div>

            </div>
        </div>
    </div>
</div>