/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Gruppo';
    src: url('./assets/fonts/Gruppo-Regular.ttf');
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
  }


/* COMMONS STYLES */
.background-yellow {
    background-color: rgb(245, 242, 213);
    padding: 10%;
}

/* HEADER-COMPONENT */
#navbarNav {
    justify-content: flex-end;
    margin-right: 10%;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 10%;
}

/* HOME-COMPONENT */
.images {
    width: 100%;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .images {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
}

#img_welcome {
    margin-left: 10%
}

.parent {
    display: grid;
    grid-template-columns: 6fr 0.25fr 0.5fr 1fr 3fr repeat(2, 0.5fr);
    grid-template-rows: repeat(2, 1fr) 2fr 0.5fr repeat(2, 0.25fr) 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #e0eaf7;
}

.container {
    grid-area: 1 / 1 / 8 / 8;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.welcome-image {
    grid-area: 1 / 1 / 8 / 5;
}

.welcome-container {
    grid-area: 2 / 5 / 7 / 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    background-color: rgba(235, 235, 75, 01);
}

.welcome-text {
    grid-area: 3 / 3 / 4 / 8;
    padding: 20px;
}

.welcome-text h1 {
    color: white;
    font-size: 78px;
    text-align: center;
}

.welcome-text h1 span {
    font-family: Raleway;
    font-weight: 500;
}

.welcome-text h1 span u a {
    text-decoration: none;
    color: white;
}

.span-text {
    grid-area: 5 / 3 / 6 / 8;
    padding: 20px;
}

.span-text span {
    text-transform: none;
    letter-spacing: normal;
    font-family: futura-lt-w01-light, futura-lt-w05-light, sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: 32px;
}

.background-yellow h3 {
    font-family: 'Gruppo';
    line-height: 31.44px;
    letter-spacing: 1px;
    font-size: 24px;
    color: rgb(13, 19, 26);
    text-align: center;
    margin-bottom: 5%;
}

.background-yellow span, .background-yellow p {
    font-family: 'Montserrat';
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    padding-bottom: 5%;
}

#div-subslogan{
    margin: auto;
    width: 70%;
}

/* FOOTER COMPONENT */
.content-footer{
  background-color: #e0eaf7;
  text-align: center;
  padding-top: 2%;
}

.content-footer div a{
    margin: 10px;
    color:black;
    font-weight: 200;
}

#footer-brand-name h4{
    font-size: 36px;
    font-weight: 100;
}

/* EFFECTS APEAR TEXT */
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

./* EFFECTS APEAR TEXT */
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

/* CONTACT STYLES */
.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #e0eaf7;
    padding: 5%;
    width: 100%;
}

#contact-title{
    font-family: 'Gruppo';
    color: rgb(13, 19, 26);
    text-align:left;
    margin-left: 5%;
    margin-top: 3%;
}
#contact-title h1{
    font-size: 60px;
}

#contact-subtitle{
    font-family: 'Gruppo';
    color: rgb(13, 19, 26);
    text-align: left;
    margin-bottom: 5%;
    margin-left: 5%;
}
#contact-subtitle h3{
    font-size: 30px;
}

#contact-image{
    width: 100%;
    display: block;
    margin: auto;
    float:right;
}

#contact-image img{
    max-width: 70%;
    height: auto;
}

#contact-form{
    font-family: 'Gruppo';
    color: rgb(49, 55, 62);
    text-align:left;
    margin-left: 5%;
    margin-top: 3%;
}
#contact-form .form-group{
    width: 80%;
    margin-bottom: 2%;
    font-size: 24px;
}

#contact-form .form-control{
    border: 1px solid black;
    border-radius: 5px;
}

#contact-info{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#contact-info .info{
    text-align: center;
    padding: 20px;
    font-family: "Gruppo";
}

#contact-info .info h4{
    text-decoration: underline;   
}

#contact-info .info span{
    font-weight: bold;
    letter-spacing: 3px;
}

#contact-form .btn-primary{
    width: auto;
    font-size: 30px;
    border-radius: 50px;
    font-weight: bold;

}

/* Estilo para ordenadores */
@media screen and (min-width: 769px) {
    #contact-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto; 
    }

    #contact-form {
        grid-area: 1 / 1 / 3 / 2; 
    }

    #contact-image {
        grid-area: 1 / 2 / 3 / 3; 
    }

    #contact-info {
        grid-area: 3 / 1 / 3 / 3; /* Ocupa toda la segunda fila al final */
    }
}



/* Estilo para dispositivos móviles */
@media screen and (max-width: 768px) {

    .parent {
        grid-template-columns: 1fr;
        width: 100%;
    }

    #contact-container {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto; 
        width: 100%;
    }

    #contact-form {
        grid-area: 1 / 1 / 2 / 2; 
    }

    #contact-image {
        grid-area: 2 / 1 / 3 / 2;
    }

    #contact-info {
        grid-area: 3 / 1 / 3 / 3;
    }
}
