<h2 mat-dialog-title>Compartir Noticia</h2>
<mat-dialog-content class="mat-typography">
  <h1>Gracias por compartir</h1>
  <p>¿Donde compartimos la noticia?</p>
  <div class="social-icons">
    <button mat-icon-button (click)="share('facebook')">
        <i class="fa-brands fa-square-facebook"></i>
    </button>
    <button mat-icon-button (click)="share('twitter')">
        <i class="fa-brands fa-square-x-twitter"></i>
    </button>
    <button mat-icon-button (click)="share('linkedin')">
        <i class="fa-brands fa-linkedin"></i>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>